.navbar-brand {
    width: 90%;
    font-size: 25px;
}

.navbar-json {
    font-size: 25px;
    text-align: center;
    height: 40px;
    width: 10%;
    background-color: #3e8e41;
    color: white;
    margin-right: 10px;
}

#logout {
    font-size: 24px;
    text-align: center;
    color: white;
}

.container {
    margin-top: 50px;
    width: 85%;
}

.dropbtn {
  background-color: #3e8e41;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px 10px 0 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropdown {
    float: right;
    margin-right: 50px;
}

.headline {
    font-size: 70px;
    margin-left: 50px;
}

.add-item-button {
    background-color: #3e8e41;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
}

.add-item-button a {
    color: white;
}

.add-item-button a:hover {
    color: white;
    text-decoration: none;
}

.item-list {
    margin-top: 50px;
    padding-left: 50px;
    width: 80%;
}

.item-name {
    font-size: 25px;
}

.description-container {
    width: 800px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.description-container h1 {
    padding-top: 50px;
}

.description-container h3 {
    padding-top: 10px;
}

.description-container p {
    padding-top: 40px;
}

.form-field {
    width: 100%;
}

.item-box {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}

.no-items {
    margin-left: 50px;
    margin-top: 100px;
}

.flashes {
    position: absolute;
    left: 30%;
    opacity: 0.8;
    z-index: 1;
    color: white;
    background: #3e8e41;
    font-size: 30px;
    padding: 30px;
    width: 450px;
    margin: 0 auto;
    border-radius: 10px;
    list-style-type: none;
}

.home-btn {
    margin-left: 50px;
}
