<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Guitar World</title>

    <!--Load prerequisites for google signin-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=start"> </script>
    <script>
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '905127964556-l5sicngk8au2kh2s6gnbb9isopvnf6j8.apps.googleusercontent.com',
          });
        });
    </script>

</head>
<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('homepage') }}">Guitar World</a>
        <a class="navbar-json" href="{{ url_for('item_catalog_json') }}">JSON</a>
        <div class="login-logout">
                {% if not logged_in %}
                <div class="collapse navbar-collapse" id="login">
                    <button  class="g-signin2"
                             data-scope="openid email"
                             data-clientid="905127964556-l5sicngk8au2kh2s6gnbb9isopvnf6j8.apps.googleusercontent.com"
                             data-redirecturi="postmessage"
                             data-accesstype="offline"
                             data-cookiepolicy="single_host_origin"
                             data-callback="signInCallback"
                             data-approvalprompt="force"
                             id="signinButton">
                    </button>
                </div>
                {% else %}
                <div class="collapse navbar-collapse" id="logout">
                    <button id="signoutButton"><a href="{{ url_for('logout') }}" onclick="signOut()">Logout</a></button>
                </div>
                {% endif %}

        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  $('#signinButton').click(function() {
    auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
  });
</script>
<script>

function signInCallback(authResult) {
  if (authResult['code']) {
    $.ajax({
      type: 'POST',
      url: '/oauth/google',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        $('#signoutButton').css('display', 'block');
        // Handle or verify the server response if necessary.
        if (result) {
            window.location.href = "{{ url_for('homepage') }}"
            console.log('Login Successful!</br>'+ result + '')
        } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
        } else {
            console.log('Failed to make a server-side call. Check your configuration and console.');
        }
      }
    });
  }
}
</script>

<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
        console.log('User signed out.');
    });
  }
</script>

</body>
</html>